<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/users/create}" th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" th:field="*{firstName}" id="name">

    <label for="lastname">Surname: </label>
    <input type="text" th:field="*{lastName}" id="lastname">

    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age">

    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email">

    <input type="submit" value="Create User">
</form>

</body>
</html>