<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Show</title>
</head>
<body>
<div>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Age</th>
      <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td th:text="${user.getId()}"></td>
      <td th:text="${user.getFirstName()}"></td>
      <td th:text="${user.getLastName()}"></td>
      <td th:text="${user.getAge()}"></td>
      <td th:text="${user.getEmail()}"></td>
    </tr>
    </tbody>
  </table>
</div>

<a th:href="@{/users/edit?id={id}(id=${user.getId()})">Edit</a>
<br/>
<form th:action="@{/users/delete?id={id}(id=${user.getId()})" th:method="DELETE">
  <input type="submit" value="Delete" />
</form>
</body>
</html>